@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Poppins&display=swap');

body { background-color: e0ebf2; }

.title {
	font-family: Manrope, sans-serif;
	color: #293241;
	text-align: center;
}

.about {
	font-family: Manrope, sans-serif;
	color: #293241;
	text-align: center;
}

p {
	font-family: Poppins, sans-serif;
	color: #3e597a;
	text-align: center;
}

.Adbase {
	font-family: Manrope, sans-serif;
	font-weight: bold;
}

.link {
	color: #ee6c4d;
}

img {
	display: block;
	margin: auto;
}
